<nav class="bookmark_menu">
    <ul>
      <li><a class="bookmark_menu__bookmark" href="/books">Главная</a></li>
      <li><a class="bookmark_menu__bookmark" href="/profiles/profilePage/{{ currentUserId }}">Профиль</a></li>
      <li><a class="bookmark_menu__bookmark" href="/auth/logout">Выход</a></li>
    </ul>
</nav>