<nav class="bookmark_menu">
    <ul>
      <li><a class="bookmark_menu__bookmark" href="/registration/">Регистрация</a></li>
      <li><a class="bookmark_menu__bookmark" href="/login/">Вход</a></li>
      <li><a class="bookmark_menu__bookmark" href="/books/">Главная</a></li>
    </ul>
</nav>