<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Книга</title>
    <link href="css/book_page.css" rel="stylesheet">
    {{> shared_links}}
  </head>
  <body>
    <header>
      {{> unauthorized_menu}}
    </header>
    <main>
     <section class="search_area">
       {{> bookcard data=book}}
     </section>
    </main>
    {{> footer}}
  </body>
</html>
