<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Буккроссинг - основная страница</title>
    {{> shared_links}}
  </head>
  <body>
    <header>
      <img class="main_icon" src="images/icon_2.png">
      <div class="site_name">
        <h1 class="site_name__site_h1">Буккроссинг</h1>
        <blockquote class="site_name__jmartin">
          <p>Читатель проживает <em>тысячу</em> жизней, прежде чем умрет. <br> 
            Человек, который никогда не читает, проживает только <em>одну</em>.</p>
          <cite>Джордж Мартин</cite>
        </blockquote>
      </div>
      {{> unauthorized_menu}}
    </header>
    <main>
      <section class="search_area">
        <form class="search_area__search_line">
          <input class="search_area__search_text" type="text" placeholder="Поиск по названию или автору книги">
          <input class="search_area__button" type="button" value="Искать">
        </form>
        <div class="search_area__searh_result">
          {{#each books}}
            {{> bookcard}}
          {{/each}}
        </div> 
      </section>
    </main>
    {{> footer}}
  </body>
</html>
